.comic-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comic-container{
    height:400px;
    width: 400px;
    background-color: blanchedalmond;
    margin: 4px 4px;
}

.comic-container a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.comic-display{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.comic-preview{
    width:100%;
}

.comic-page-portrait{
    width:50%;
    height:auto;
}