.project-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-container{
    height:300px;
    width: 600px;
    background-color: blanchedalmond;
    margin: 4px 4px;
}

.project-container a{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
}

.project-container img{
    align-self: center;
    width: 100%;
    height: fit-content;
}

.project-display{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.project-preview{
    width:100%;
}