.illustration-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.illustration-container{
    position: relative;
    overflow: hidden;
    margin: 4px 4px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffb640e5;
    transform: translateX(-50px);
}

.illustration-container:hover .overlay {
    opacity: 1;
    transform: translateX(0px);
    transform-origin: left;
}

.overlay-text{
    font-family: 'Sour Gummy', sans-serif;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    line-height: 1;
    padding: 30px;
}

.illustration-gallery-item{
    height: 45vh;
    width: fit-content;
}