html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    }  

body{
padding:5% 15% ;
background-color: #fee187;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    }

p{
    font-size: 2rem;
    line-height: 2;
    letter-spacing: 1px;
    }


.homepage-comic{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homepage-comic-panel{
    width: 800px;
    height: fit-content;
    margin-bottom: 20px;
}

.homepage-comic-subpanel{
    width: 1200px;
    position: relative;
    height: 800px;
}

a .homepage-comic-subpanel-contents{
    transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a .homepage-comic-subpanel-contents:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.homepage-comic-subpanel-contents{
    position: absolute;
}
