@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-yellow: #fee187;
    --med-yellow: #ffb540;
    --brown: #82390e;
    --dark-text: #141414;

}

html {
    font-size: 0.8rem;
    color: var(--dark-text);
    font-family: 'Nunito Sans', sans-serif;
    }  

body{
    background-color: var(--bg-yellow);
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    font-family: 'Sour Gummy', sans-serif;
    }

p{
    font-size: 1.4rem;
    line-height: 1.5;
    }

a{
    color: var(--dark-text)
}

a:hover{
    color: var(--brown)
}

.page-content{
        padding:5% 15% ;
}

/* Styling Navbar */
#navbarNav{
    justify-content: center;
}

.navbar-nav{
    column-gap: 15px;
}

.nav-item{
    font-family: 'Sour Gummy', sans-serif;
    font-size: 2rem;
    background-color: var(--med-yellow);
}

.navbar-toggler{
    background-color: var(--med-yellow);
    border: 1px solid var(--dark-orange);
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.content-segment {
    width: 100%;
    margin-bottom: 10%;
}

.paragraph-content-image{
    width: 30%;
    overflow: hidden;
    align-self: center;
    margin-right: 20px;
}

.paragraph-content-image img , .paragraph-content-image-alt img{
    width: 100%;
}

.paragraph-content{
    width: 70%;
}

.paragraph-content-image-alt{
    width: 30%;
    overflow: hidden;
    align-self: center;
    margin-right: 20px;
}

.paragraph-content-alt{
    width: 70%;
    display: flex;
    align-items: center;
}

.flex-paragraph-content{
    display: flex;
    flex-direction: row;
}

.tri-column-content{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 50px;
    justify-content: center;
}

.tri-column-content img{
    width: 100%;
}

footer{
    padding: 4% ;
    background-color: var(--med-yellow);
    display: flex;
    flex-direction: row;
    position: relative;
}

.footer-container{
    display: flex;
    flex-direction: column;
    font-family: 'Sour Gummy', sans-serif;
    font-size: 2rem;
    list-style-type: none; 
    padding: 0;
}

.secret-bonus{
    position: absolute;
    right: 0;
    height: 70%;
}

.socials i{
    color: var(--brown);
    font-size: 30px;
    background-color: var(--bg-yellow);
    padding: 10px;
    border-radius: 5px;
    width: 50px;
}

/* Styling allllll the itty bitty comic panels one by one. */
.homepage-comic{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homepage-comic-panel{
    width: 800px;
    height: fit-content;
    margin-bottom: 20px;
}

.homepage-comic-subpanel{
    width: 1200px;
    position: relative;
    height: 800px;
}

a .homepage-comic-subpanel-contents{
    transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a .homepage-comic-subpanel-contents:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.homepage-comic-subpanel-contents{
    position: absolute;
}

.text-box{
    font-family: 'Sour Gummy', sans-serif;
    font-size: 2rem;
    line-height: 2;
}

.text-box-one{
    left: 375px;
    top: 45px;
    width: 200px;
    text-align: center;
    line-height: 1.2;
}

.subpanel-illo{
    width: 650px;
    left: 560px;
    top: 65px;
}

.subpanel-gd{
    top: 342px;
    width: 380px;
    left: 840px;
}

.subpanel-games{
    top: 458px;
    left: -8px;
    width: 400px; 
}

.subpanel-comics{
    top: 405px;
    left: 370px;
    width: 450px;
}

.bubble-one{
    top: 633px;
    left: 860px;
    width: 401px;
}

.text-box-two{
    top: 682px;
    text-align: center;
    line-height: 1.2;
    width: 326px;
    left: 900px;
}

.text-box-three{
    top: 50px;
    width: 22%;
    text-align: center;
    line-height: 1.2;
    left: 65px;
}

.text-box-four{
    width: 25%;
    text-align: center;
    line-height: 1.2;
    left: 450px;
    font-weight: 800;
    text-transform: uppercase;
    top: 80px;
}

.text-box-five{
    top: 158px;
    width: 27%;
    line-height: 1.4;
    left: 437px;
    font-size: 1.8rem;
}

.text-box-six{
    top: 50px;
    width: 22%;
    text-align: center;
    line-height: 1.2;
    left: 860px;
}

.text-box-seven{
    top: 120px;
    width: 25%;
    text-align: center;
    line-height: 1.2;
    left: 725px;
}

.text-box-eight{
    top: 280px;
    width: 25%;
    text-align: center;
    line-height: 1.2;
    left: 725px;
}

.mail-icon{
    top: 161px;
    width: 120px;
    text-align: center;
    line-height: 1.2;
    left: 820px;
}
